.header_body {
	padding: 1%;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
hr {
    height:1px;
	border-width:0;
	color:gray;
	background-color:gray;
	margin-left: 80px;
	margin-right: 80px;
}

.description {
	font-family: Arial, Helvetica, sans-serif;
	margin-left:80px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.database {
	font-family: Arial, Helvetica, sans-serif;
	margin-left:80px;
}
.arch, .demo, .sourcecode{
	font-family: Arial, Helvetica, sans-serif;
	margin-left:80px;
}
.slider {
    -webkit-appearance: none;
    width: 230px;
    height: 1px;
    border-radius: 3px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.col {
	margin-left: -600px;
}

#sym1 {
	font-style: normal;
}